In [1]:
import pandas as pd
import os

In [8]:
df = pd.DataFrame(
    [
        ["https://sample.com", 0, 30],
        ["https://sample.com", 0, 30],
        ["https://sample.com", 0, 30],
        ["https://sample.com", 0, 30]
    ],
    columns=["url", "start_sec", "end_sec"],
    index=None
)
df

                  url  start_sec  end_sec
0  https://sample.com          0       30
1  https://sample.com          0       30
2  https://sample.com          0       30
3  https://sample.com          0       30

In [9]:
df.to_csv("download_list.csv", index=False)

In [10]:
d = pd.read_csv("download_list.csv")
d

                  url  start_sec  end_sec
0  https://sample.com          0       30
1  https://sample.com          0       30
2  https://sample.com          0       30
3  https://sample.com          0       30

In [13]:
targets_path = "download_list.txt"
targets_path[-4:]

'.txt'

In [22]:
time_obj = [{"start_sec": s, "end_sec": e} for s, e in zip(df.start_sec, df.end_sec)]
time_obj

[{'end_sec': 30, 'start_sec': 0},
 {'end_sec': 30, 'start_sec': 0},
 {'end_sec': 30, 'start_sec': 0},
 {'end_sec': 30, 'start_sec': 0}]

In [23]:
if not None:
    print("s")

s